<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <%= link_to "褒め方辞典", root_path, class: :prototype__user %>
</nav>  
<% breadcrumb :session %>
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザーログイン<i class="fas fa-ghost"></i></h2>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>