<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <%= link_to "褒め方辞典", root_path, class: :prototype__user %>
    </nav> 
<% breadcrumb :reviews_watch %>
<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <header class="card-header2">
            <p class="card-header-title">
              <%= @definition.title %> 
            </p>
          </header>
          <div class="card-content">
            <div class="average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @definition.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
              <%= @definition.avg_score %>点（<%= @definition.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ユーザー</th><th>点数</th><th>内容</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td><%= review.user.nickname %></td>
                <td><%= review.score %></td>
                <td><%= review.content %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

</br><div class="graph">
<label class="graph-label">レビューと評価者 (レビュー総数 : <%= @reviews.count %>)</label>
       <%= column_chart Review.joins(:user).group(:nickname, :sex_id).sum(:score), width: "400px", height: "300px", xtitle: "評価者", ytitle: "評価" %>
       <%= pie_chart Review.joins(:user).group(:sex_id).count %>
</div>


        <br><i class="fas fa-undo-alt"></i> <%= link_to " 一覧に戻る ", root_path(anchor:"definitions") %></br>
      </div>
    </div>
  </div>
  
</section>