<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <%= link_to "褒め方辞典", root_path, class: :prototype__user %>
    </nav> 
<% breadcrumb :reviews_write %>
<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
          <header class="card-header">
            <p class="card-header-title">
              <%= @definition.title %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @definition.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @definition.avg_score %>点（<%= @definition.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <%= render 'reviews/form', review: @review, definition: @definition %>
      </div>
    </div>
  </div>
</section>

<div class="standard-evaluation">
<p >評価基準</p>
<p>定義が学びになったかどうかで評価</p>
<p>5 非常に学びになって今から早速活かしたい</p>
<p>4 学びになって早速活かしたい</p>
<p>3 学びになり今後に活かしたい</p>
<p>2 学びになったがまだ活かせる場面はないので、本質を心得るようにする</p>
<p>1 定義の内容が実施しており再認識となり学びとなったが、さらに学びの視野を広げたい</p>
<div>

