<!DOCTYPE html>
<html>
  <head>
    <title>Praise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/aa26791a22.js" crossorigin="anonymous"></script>
  </head>

  <body>
      <br><% if flash[:notice] %>
        <div class="notification is-info">
          <p class="notice"><%= notice %></p>
          <div>
          <% end %>
      <br><% if flash[:alert] %>
          <p class="alert"><%= alert %></p>
          <div>
          <% end %>


    <%= yield %>
  </body>
</html>
